body {
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
  background-image: url("https://www.planwallpaper.com/static/images/latest.jpg");
}

/*h2 {
  text-align: center;
}*/

form {
  display: flex;
  flex-direction: column;
  width: 15em;
  margin-top: 4em;
}

input {
  padding: 1em;
  margin: 1em;
}

button {
  background-color: darkgray;
  color: white;
  padding: 1em;
  font-size: 1em;
}

p {
  background-image: url("https://media.giphy.com/media/d2YWTOsVtuHgOHhC/giphy.gif");
}
